*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Rubik;
}

.film-bg{
    background-image:linear-gradient(to bottom left,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-text{
    padding-top:14%;
}

.bg-text p{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight:500;
}

.bg-text h2{
    font-size: 5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.bg-text button{
    padding: 20px 45px;
    background-color: red;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 2rem;
}

.logo span, b{
    font-size: 23px;
}

.logo .fa-photo-video{
    color: white;
    font-size: 19px;
}

.logo b{
    font-weight: bolder;
}

.nav-items ul li a{
    font-weight:600;
    text-decoration: none;
    color: white;
    transition: .4s ease;
    margin-right: 15px;
}

.nav-items ul li a:hover{
    color: firebrick;
}

.nav-items2  a{
    text-decoration: none;
    color:white;
    display: inline-block;
}

.nav-items2 a:hover{
    color: white;
}

.nav-items ul li {
    list-style-type: none;
    display: inline-block;
}

input[type=search]{
    border: none;
    width:100%;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    transition: 0.9s ease-in-out;
    padding:10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

}

.srchInput .fa-search{
    background-color:deepskyblue;
    color: white;
    padding: 13px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 18px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

input[type=search]:focus{
     background-color: aliceblue;

}


.avatar img{
    width: 100%;
    cursor: pointer;
    opacity: 1;
    height:300px;
    /* transition: all 0.5s ease; */
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.avatar img:hover{
    opacity: 0.5;
}

#movie{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.flex-cont{
    width: 20%;
    position: relative;
    background-color:rgb(49, 47, 47);
    box-shadow: 0 0 8px 10px  rgba(16, 16, 16, 0.5);
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 6px;
}

.len{
    background-color: black;
    color: white;
}

.flex-cont:hover{
    background-color: transparent;
    opacity: 0.7;
    box-shadow: 0 0 12px 10px rgba(43, 42, 42, 0.3);
   
}

.flex-cont:hover small{
    color:bisque;
}

.flex-cont:hover .flex-items small{
    display: inline-block;
}

.flex-items{
    padding-left:25px;
    margin: 7px 0;
}

.flex-items small{
    position: absolute;
    top:8%;
    left: 12px;
    width: 100%;
    font-weight: 600;
    display: none;
    color: white;

}

.flex-items strong{
    color: rgb(194, 188, 188);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.flex-items p{
    color:bisque;
    font-weight: 600;
    margin: 10px 0;
    font-size: 15px;
}

.foot-text strong{
    color: red;
}

.foot-text{
    color: gainsboro;
}

.foot-text a{
    color: gainsboro;
}
.foot-text a:hover{
    color: #000;
}

/* Media Query */
@media screen and (max-width:768px){
    
#movie{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px; 
    flex-direction: column;
    align-items: center;
}


.film-bg{
    background-image:linear-gradient(to bottom left,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.netflix-logo img{
    width: 50%;
}


.flex-cont{
    width: 70%;
    background-color: rgb(26, 25, 25);
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;

}

.bg-text{
    padding-top:10%;
}

.bg-text p{
    text-transform: uppercase;
    font-size: 19px;
    font-weight:500;
}

.bg-text h2{
    font-size: 55px;
    margin-bottom: 15px;
    font-weight: bold;
}

.bg-text button{
    padding: 20px 45px;
    background-color: red;
    color: white;
    border: none;
    margin: 20px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 20px;
}


.avatar img{
    width: 100%;
    cursor: pointer;
    opacity: 1;
    height:300px;
    transition: all 0.5s ease;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}